In [1]:
import os

In [2]:
!ls

COVID-19               JHUAdapterSketch.ipynb

In [3]:
CSVPATH= "COVID-19/csse_covid_19_data/csse_covid_19_daily_reports"

In [8]:
for root, dirs, files in os.walk(CSVPATH): 
    for file in files:
        if os.path.splitext(file)[1] == ".csv":
            print(file)

02-26-2020.csv
02-27-2020.csv
02-18-2020.csv
02-19-2020.csv
03-10-2020.csv
03-11-2020.csv
02-12-2020.csv
02-13-2020.csv
03-07-2020.csv
03-06-2020.csv
02-05-2020.csv
02-04-2020.csv
02-08-2020.csv
02-09-2020.csv
03-01-2020.csv
02-02-2020.csv
02-03-2020.csv
01-31-2020.csv
01-30-2020.csv
02-21-2020.csv
02-20-2020.csv
03-17-2020.csv
03-16-2020.csv
02-15-2020.csv
02-14-2020.csv
01-26-2020.csv
01-27-2020.csv
03-04-2020.csv
03-05-2020.csv
02-06-2020.csv
02-07-2020.csv
03-13-2020.csv
03-12-2020.csv
01-22-2020.csv
01-23-2020.csv
02-11-2020.csv
02-10-2020.csv
02-25-2020.csv
02-24-2020.csv
03-19-2020.csv
03-18-2020.csv
01-28-2020.csv
01-29-2020.csv
02-28-2020.csv
02-29-2020.csv
03-14-2020.csv
03-15-2020.csv
01-25-2020.csv
01-24-2020.csv
02-16-2020.csv
02-17-2020.csv
02-22-2020.csv
02-23-2020.csv
03-20-2020.csv
03-21-2020.csv
03-03-2020.csv
03-02-2020.csv
02-01-2020.csv
03-09-2020.csv
03-08-2020.csv

In [9]:
!pip3 install pymongo pandas

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/site-packages (3.10.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/protobuf/3.11.4/libexec/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [12]:
import pandas as pd
import pymongo


class DBConnection:
  USER_NAME = "root"
  PASSWORD = "challenge1757"

  @staticmethod
  def getConnection():
    return pymongo.MongoClient("mongodb://" + DBConnection.USER_NAME + ":" + DBConnection.PASSWORD + "@bene.gridpiloten.de:27017/")

  @staticmethod
  def getStatisticDB():
    return DBConnection.getConnection()["Statistic"]

In [43]:
conn = DBConnection()
statsdb = conn.getStatisticDB()

In [106]:
for case in statsdb['cases'].find({'source.name': 'JHUTest'}):
    print(case)

In [65]:
def readJHUCSV(file):
    print(file)
    
    df = pd.read_csv(file)
    df.head()
    
readJHUCSV(CSVPATH +  '/' + '02-09-2020.csv')

COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/02-09-2020.csv

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,2020-02-09T23:33:02,29631,871,1795
1,Guangdong,Mainland China,2020-02-09T15:03:05,1131,1,141
2,Zhejiang,Mainland China,2020-02-09T12:03:04,1075,0,201
3,Henan,Mainland China,2020-02-09T11:23:08,1033,6,153
4,Hunan,Mainland China,2020-02-09T12:33:01,838,1,186

In [48]:
for source in statsdb['Source'].find_one():
    print(source)

_id
name
url

In [102]:
statsdb['Source'].find_one({'name': 'JHUTest'})

{'_id': ObjectId('5e7722c8c60eac3be3ea8abb'),
 'name': 'JHUTest',
 'url': 'foo.bar'}

In [61]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta

In [76]:
df = pd.read_csv(CSVPATH +  '/' + '02-09-2020.csv')
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,2020-02-09T23:33:02,29631,871,1795
1,Guangdong,Mainland China,2020-02-09T15:03:05,1131,1,141
2,Zhejiang,Mainland China,2020-02-09T12:03:04,1075,0,201
3,Henan,Mainland China,2020-02-09T11:23:08,1033,6,153
4,Hunan,Mainland China,2020-02-09T12:33:01,838,1,186

0    2020-02-09 23:33:02
1    2020-02-09 15:03:05
2    2020-02-09 12:03:04
3    2020-02-09 11:23:08
4    2020-02-09 12:33:01
             ...
67   2020-02-01 19:53:03
68   2020-02-05 21:53:02
69   2020-02-01 19:53:03
70   2020-02-09 07:03:04
71   2020-02-01 19:43:03
Name: Last Update, Length: 72, dtype: datetime64[ns]

In [77]:
map_country = pd.read_csv("country_mapping.csv", sep=";")
for index, row in map_country.iterrows():
    df.loc[df['Country/Region'] == row['cases'], "Country/Region"] = row['world_bank']

In [78]:
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,China,2020-02-09T23:33:02,29631,871,1795
1,Guangdong,China,2020-02-09T15:03:05,1131,1,141
2,Zhejiang,China,2020-02-09T12:03:04,1075,0,201
3,Henan,China,2020-02-09T11:23:08,1033,6,153
4,Hunan,China,2020-02-09T12:33:01,838,1,186

In [80]:
import sys
sys.path.insert(1, '../../api')
from cases import Cases

In [87]:
import requests

In [88]:
{
  "_id": "string",
  "adm": [
    "string"
  ],
  "ageRange": {
    "lower": 0,
    "upper": 0
  },
  "date": "string",
  "dead": 0,
  "infected": 0,
  "recovered": 0,
  "sex": "string",
  "source": "string",
  "tested": 0
}

{'_id': 'string',
 'adm': ['string'],
 'ageRange': {'lower': 0, 'upper': 0},
 'date': 'string',
 'dead': 0,
 'infected': 0,
 'recovered': 0,
 'sex': 'string',
 'source': 'string',
 'tested': 0}

In [138]:
for index, row in df.iterrows():
    data = {}
    FMT = '%Y-%m-%dT%H:%M:%S'
    date = datetime.datetime.strptime(str(row['Last Update']), FMT)
    
    data['date'] = date.strftime('%Y-%m-%d')
    data['dead'] = row['Deaths']
    data['infected'] = row['Confirmed']
    data['recovered'] = row['Recovered']
    data['source'] = 'JHUTest'
    adm = []
    adm.append(row['Country/Region'])
    adm.append(row['Province/State'])
    data['adm'] = adm
    agerange = {}
    agerange['lower'] = 0
    agerange['upper'] = 0
    data['ageRange'] = agerange
    
    data['sex'] = 'NaN'
    data['tested'] = 0
    print(json.dumps(data))
    r = requests.put('http://bene.gridpiloten.de:4711/api/cases', json = data)

{"date": "2020-02-09", "dead": 871, "infected": 29631, "recovered": 1795, "source": "JHUTest", "adm": ["China", "Hubei"], "ageRange": {"lower": 0, "upper": 0}, "sex": "NaN", "tested": 0}

In [137]:
statsdb['cases'].delete_many({'source.name': 'JHUTest'})

In [119]:
import datetime

In [129]:
import json